#mainLabel
{
  -fx-font-size: 1.6em;
}

#resultTextField
{
  -fx-max-width: 200;
}

Button
{
  -fx-pref-width: 300;
  /* jfx has no margin so do https://stackoverflow.com/a/33141605 */
  -fx-padding: 10;
  -fx-border-insets: 5;
  -fx-background-insets: 5;
}
